@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TheMutants.ViewModels;
@model AddQuestionViewModel;

<h1>Add a Trivia Question</h1>

<form asp-controller="Questions" asp-action="Add" method="post">
    <div class="form-group">
        <label>
            Name
            <input type="text" name="name" class="form-control">
        </label>
        <label>
            Answer
            <input type="text" name="answer" class="form-control">
        </label>
    </div>
    <input type="submit" value="Add Question" class="form-control" />
    
</form>