@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TheMutants.ViewModels;
@model AddQuestionViewModel;

<h1>Add a Trivia Question</h1>

<form asp-controller="Questions" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Answer"></label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Category">Category</label>
            <select asp-for="Category" asp-items="Model.QuestionCategories"></select>
        </div>
        
    </div>
    <input type="submit" value="Add Question" class="form-control" />
    
</form>